button.button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #ffffff;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #000000;
    text-align: center;
    transition: all 0.15s;
}

button.button:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #ff0000;
    border-color: #ff0000;
}

button.buttonUpload {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #00bd65;
    text-align: center;
    transition: all 0.15s;
}

button.buttonUpload:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

input.button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #ffffff;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #000000;
    text-align: center;
    transition: all 0.15s;
}

select.select:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #ff0000;
    border-color: #ff0000;
}

select.select {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #ffffff;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #000000;
    text-align: center;
    transition: all 0.15s;
}

input.button:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #ff0000;
    border-color: #ff0000;
}

@media all and (max-width:30em) {
    a.button {
        display: block;
        margin: 0.4em auto;
    }
    input.button {
        display: block;
        margin: 0.4em auto;
    }
}

.bouncy {
    animation: bouncy 4s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}