<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>TFG García Monclú</title>
    <link rel="stylesheet" href="{% static "css/Menu4.css" %}" />
</head>

<body>
    <section class="strips">
        <div class="strips__strip">
            <div class="strip__content">
                <h1 class="strip__header">Mauro García Monclú</h1>
            </div>
        </div>
        <div class="strips__strip">
            <a href="/prediccion">
                <div class=" strip__content">
                    <h1 class="strip__title">Predicción</h1>
                </div>
            </a>
        </div>
        <div class="strips__strip">
            <a href="/manual">
                <div class="strip__content">
                    <h1 class="strip__title">Manual</h1>
                </div>
            </a>
        </div>
        <div class="strips__strip">
            <a href="/instalacion">
                <div class="strip__content">
                    <h1 class="strip__title">Instalación</h1>
                </div>
            </a>
        </div>
        <div class="strips__strip">
            <a href="/documentacion">
                <div class="strip__content">
                    <h1 class="strip__title">Documentación</h1>
                </div>
            </a>
        </div>
    </section>
</body>

</html>